* {margin: 0; padding: 0;}
.ullink a {text-decoration: none;}
.ullink a:hover {text-decoration: underline;}
legend {font-size: 15px;}
oldbody  {font-size: 11px; font-family: Arial, Helvetica, sans-serif, "Arial Narrow", serif; color: #000000;}
img {border: none;}
.clearfloat {clear: both; height: 0; font-size: 1px; line-height: 0px;}
ul {list-style: none;}
.ullist {list-style: disc; margin-left: 25px;}
.ullist a {text-decoration: none;}
.ullist a:hover {text-decoration: underline;}
fieldset
{
 border: 2px groove threedface;
 padding: 0.35em 0.625em 0.75em;
}
legend
{
 font: 13px Verdana,Arial,sans-serif;
 font-family : Verdana, Arial, sans-serif;
 line-height: 1.5em;
 padding-left: 2px;
 padding-right: 2px;
 border-collapse:separate;
 border-spacing:2px;
 text-indent:0;
}
.table_simple {BORDER-COLLAPSE: collapse; border-ColorDark: #646464; border-ColorLight: #646464;}
.table_simple td,tr {padding: 5px;}
.table_simple td,tr {padding: 5px; font-size: 1em; font-family: Verdana,Helvetica,sans-serif;}
.table_simple h3 {padding: 5px; font-size: 0.9em; font-family: Verdana,Helvetica,sans-serif;}
.bquote {background-color:#F0F0F0; padding: 1em; margin-top: 10px; margin-bottom: 10px;}
a {color: #000000;}
/*center*/
.center {width: 990px; margin: 0px auto;}
/*center*/

/*head*/
#header-wrap {cursor: default; color: #A2D41B; margin-top: 15px; text-align: left; padding-top: 2px; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc;}
#header {letter-spacing: 0.5pt; margin-left: auto; margin-right: auto; width: 1000px; padding-bottom: 5px}
#header font {font-family: Helvetica,sans-serif; font-size: 0.8em; color: black; font-style: italic; font-weight: bold;}

#content
{
 font-family: Verdana,Helvetica,sans-serif;
 font-size: 0.8em;
 line-height: 1.4em;
 margin-left: auto; margin-right: auto; width: 1000px;
 margin-top: 8px;
}

#nav-wrap {margin: 0; text-align: left; padding-top: 2px; border-bottom: 1px dashed #ccc;}
#nav
{
 padding: 5px;
 font: 13px Verdana,Arial,sans-serif;
 font-family : Verdana, Arial, sans-serif;
 font-size: 0.7em;
 line-height: 1.5em;
 margin-left: auto;
 margin-right: auto;
 width: 1000px;
}
#nav ul {
  margin : 0;
  padding : 0;
  list-style : none;
}
#nav ul li {margin: 0; padding: 0 8px 0 0; display: inline;}
#nav img {vertical-align:middle;}
#nav .ui-state-active
{
 font-weight: bold;
}
#nav a:link, #nav a:visited, #nav a:active {
  margin: 0;
  padding: 4px;
  border: 1px solid white;
  color: #3a6ea5;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}
#nav a:hover {
  margin: 0;
  padding: 4px;
  border: 1px solid #ff8000;
  color: #ff8000;
  background-color: #ffeec2;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}
#footer-wrap {margin-top: 15px; text-align: left; padding-top: 2px; border-top: 1px dashed #ccc;}
#footer
{
 letter-spacing: 0.5pt; margin-left: auto; margin-right: auto; width: 1000px; padding-bottom: 5px;
 font-size: 0.7em;
 line-height: 1.5em;
 font-family: Verdana,Arial,sans-serif;
}
#footer address
{
 font-style : italic;
 color: gray;
}
#footer div
{
 font-size: 20px;
}
#footer a:link
{
 text-decoration: none;
 color: #777;
}

#signinForm .item
{
 padding-bottom: 10px;
}
#signinForm label
{
 float: left;
 width: 150px;
}
#signinForm span
{
 float: left;
}


#settingsForm label, #settingsFieldset label
{
 float: left;
 width: 300px;
}
#settingsFieldset span
{
 float: left;
 text-align: center;
}
.term {text-decoration: none; border-bottom:1px dashed #000000;}
#searchResults table
{
 border: 1px groove threedface;
 border-spacing: 5px;
 border-collapse: collapse;
}
#searchResults td
{
 border: 1px groove threedface;
 border-spacing: 5px;
 padding: 5px;
}
#searchResults .head
{
 font-weight: bold;
}
.searchResult
{
 margin-top: 5px;
}
#messages
{
 height: 350px;
 width: 70%;
 border: 1px solid;
 padding: 10px;
 overflow: auto;
 float: left;
 word-wrap: break-word;
}
#messages a
{
 text-decoration: none;
}
#userlist
{
 height: 350px;
 width: 20%;
 border: 1px solid;
 padding: 10px;
 overflow: auto;
 float: left;
 margin-left: 10px;
}
#tooltip {
 background-color:#EEEEEE;
 border:1px solid #111111;
 opacity:0.85;
 padding:5px;
 position:absolute;
 z-index:3000;
}
#tooltip .body
{
 font: 12px Verdana;
}